<!DOCTYPE html>
<html>
  <title> Smart Lock - Registration </title>
  <head> </head>

  <body>
    <h1> Register Your Smart Lock </h1>
    <h2 class="lockTaken"></h2>

      <input type="text" id="id" name="id" placeholder="Lock ID">
      <button type="submit" id="submit" onclick="registerLock()"> Submit </button>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="js/scripts.js"></script>
  </body>

</html>